@model Portal_Project.Models.Round_Two

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Round_Two</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Q1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Q1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Q2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Q2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Q3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Q3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Q4)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Q4)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Q5)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Q5)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Q6)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Q6)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Q7)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Q7)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Q8)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Q8)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Q9)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Q9)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Q10)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Q10)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Passed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Passed)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Candidate_ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
