@model IEnumerable<Portal_Project.Models.Round_Two>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Q1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Q2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Q3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Q4)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Q5)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Q6)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Q7)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Q8)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Q9)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Q10)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Passed)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Q1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Q2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Q3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Q4)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Q5)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Q6)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Q7)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Q8)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Q9)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Q10)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Passed)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Candidate_ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Candidate_ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Candidate_ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
